*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 10px auto;
}

.card{
    position: relative;
    width: 33%;
    display: inline-block;
}

div img {
    text-align: center;
    width: 100%;
}

.image{
    position: relative;
}

.second-pic{
    
    display: none;
}

.image:hover .first-pic{
    display: none;
}

.image:hover .second-pic{
    display:inline-block;
}

.heart{
    padding: 5px 10px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0;
}

.heart:hover{
    cursor: pointer;
    color: red;
}

.tags{
    position:absolute;
    bottom: 20px;
    left:0;
}

.tags div{
    color: white;
}

.discount{
    display: inline-block;
    background-color: red;
    padding: 5px;
}

.sustainability{
    display: inline-block;
    padding: 5px;
    background-color: green;
}

.description .name{
    text-transform: uppercase;
    font-weight: bold;
}

.price{
    padding-bottom:40px
}
.price span{
    color: red;
}