*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 60%;
    margin:0px auto;
}

.box{
    width: 33%;
    margin-top: 20px;
    position: relative;
    height: 400px;
}

/* image */

img{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 50;
    padding: 5px 10px;
    background-color: white;
}

.discount{
    position:absolute;
    bottom: 94px;
    left: 0 px;
    z-index: 50;
    background-color: red;
    padding: 5px;
}

.sustainable{
    position: absolute;
    bottom: 94px;
    left: 41px;
    z-index: 50;
    padding: 5px;
    background-color: #008659;
}

.heart:hover{
    color: red;
}